version: '3.9'
services:
  postgres:
    container_name: hostelDB
    image: postgres:15
    hostname: hostelDB
    environment:
      - POSTGRES_DB=hostelService
      - POSTGRES_USER=hostel
      - POSTGRES_PASSWORD=ilia
    ports:
      - "5430:5432"
    healthcheck:
      test: [ "CMD", "pg_isready -U hostel" ]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:4.1.0-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"  # Порт для общения с микросервисами
      - "15672:15672" # Web UI для управления RabbitMQ
    volumes:
      - ./config/rabbitmq/definitions.json:/etc/rabbitmq/definitions.json
      - ./config/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      retries: 5
      timeout: 5s