version: '3.9'
services:
  postgres:
    container_name: hostelDB
    image: postgres:15
    hostname: hostelDB
    environment:
      - POSTGRES_DB=hostelService
      - POSTGRES_USER=hostel
      - POSTGRES_PASSWORD=ilia
    ports:
      - "5430:5432"
    networks:
      - shared-network

  rabbitmq:
    image: rabbitmq:4.1.0-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ./config/rabbitmq/definitions.json:/etc/rabbitmq/definitions.json
      - ./config/rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "status" ]
      interval: 10s
      retries: 5
      timeout: 5s
    networks:
      - shared-network

  userservice:
    container_name: userservice
    build:
      dockerfile: Dockerfile-local
      context: .
      args:
        INTERNAL_REPO_LOGIN: ${INTERNAL_REPO_LOGIN}
        INTERNAL_REPO_PASSWORD: ${INTERNAL_REPO_PASSWORD}
    hostname: userservice
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - rabbitmq
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://hostelDB:5432/hostelService
      - SPRING_DATASOURCE_USERNAME=hostel
      - SPRING_DATASOURCE_PASSWORD=ilia
      - INTERNAL_REPO_LOGIN=${INTERNAL_REPO_LOGIN}
      - INTERNAL_REPO_PASSWORD=${INTERNAL_REPO_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      retries: 5
      start_period: 15s
      timeout: 10s
    networks:
      - shared-network

networks:
  shared-network:
    external: true
