server:
  port: 8080

app:
  upload:
    dir: /opt/user/uploads/images

jwt:
  secret: WS5y43NO8hme4sbPyEgIcCaR7G5NgSXlXKyc159gLhloaNAP/28XZKPCQCCDd8vp3v1NJpIic4uMX0CVbPR7+A==
  accessTokenLifetime: 15m
  refreshTokenLifetime: 30d

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, info, beans, trace
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: true
    sampling:
      probability: 1.0

logging:
  pattern:
    file:    "%clr(%d{yyyy-MM-dd HH:mm:ss.SSSXXX}){faint} %clr(%5level) %clr(${PID:- }){magenta} %clr(---){faint} [%applicationName] [%15.15thread] %clr([%-32X{traceId:-}-%-16X{spanId:-}]){yellow} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n"
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSSXXX}){faint} %clr(%5level) %clr(${PID:- }){magenta} %clr(---){faint} [%applicationName] [%15.15thread] %clr([%-32X{traceId:-}-%-16X{spanId:-}]){yellow} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %msg%n"
  level:
    org.hibernate: OFF

spring:
  application:
    name: user-service
  profiles:
    active: "@activatedProperties@"

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        session_factory:
          observer:
            instrumentation: opentelemetry
        jdbc:
          batch_size: 50
          order_inserts: true
          order_updates: true
          fetch_size: 100
        generate_statistics: false
        default_batch_fetch_size: 10
        connection:
          autocommit: false
    # На будущее
    #        cache:
    #          use_second_level_cache: true
    #          use_query_cache: true
    #          region.factory_class: org.hibernate.cache.jcache.internal.JCacheRegionFactory
    #        jakarta.cache:
    #          provider: org.ehcache.jsr107.EhcacheCachingProvider
    #          uri: classpath:ehcache.xml
    #      sharedCache:
    #        mode: ENABLE_SELECTIVE
    open-in-view: false

  datasource:
    url: jdbc:otel:postgresql://hostelDB:5432/hostelService
    username: hostel
    password: ilia
    driver-class-name: io.opentelemetry.instrumentation.jdbc.OpenTelemetryDriver

  flyway:
    jdbc-properties:
      enabled: true
      locations:
        - db.migration
    schemas: user

  rabbitmq:
    listener:
      direct:
        observation-enabled: true

  cloud:
    openfeign:
      micrometer:
        enabled: true

rabbitmq:
  notification-service:
    username: notification
    password: notification
    virtualHost: notification-service
    addresses: rabbitmq:5672
    connectionTimeout: 6000

queueing:
  notification-service:
    send:
      exchangeName: notification-exchange
      routingKey: notification-send
    delete-token:
      exchangeName: notification-timeslots-exchange
      routingKey: notification-delete-token

otlp:
  tracing:
    export-enabled: true
    endpoint: http://tempo:4317
    timeout: 5000
    service-name: user-service

rest:
  base-url:
    admin-service: http://administrationservice:8080

springdoc:
  api-docs:
    enabled: false

  swagger-ui:
    enabled: false